@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Jogo Reservado";
}

<div class="text-center">
    <h1>Jogo Reservado!</h1>
    <p>Entre em contato com o vendedor para a negociação.</p>
    <p style="color:red">O jogo ficará indisponível por 7 dias.</p>

</div>