@model troca_games.Models.Desejo

@{
    ViewData["Title"] = "Deletar Desejo";
}

<h2>Deletar Desejo</h2>

<h4>Tem certeza que deseja deletar esse jogo da Lista de Desejos?</h4>

<form asp-action="DeletarDesejo">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Deletar" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</form>


