@model troca_games.Models.Desejo

@{
    ViewData["Title"] = "Deletar Desejo";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Deletar Jogo</h1>

<h2 style="font-size:20px">Tem certeza que deseja deletar esse Jogo da Lista de Desejos?</h2>

<form asp-action="DeletarDesejo" style="margin-top:20px">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Deletar da Lista de Desejos" class="btn btn-danger" style="font-size:14px" />
    <a asp-action="Index" class="btn btn-primary" style="font-size:14px">Voltar</a>
</form>