@{
    ViewData["Title"] = "Home Page";

    <style>
        body {
            background-image: url(https://images.unsplash.com/photo-1543622748-5ee7237e8565?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-size: 1550px;
        }

        #text {
            width: 70%;
            margin: auto;
            margin-top: 100px;
            padding: 10px;
            background-color: whitesmoke;
            opacity: 0.8;
            border-radius: 10px;
            font-family: Verdana;
        }
    </style>
}

<div id="text" class="text-center">
    <h1 style="font-weight:bolder;">Troca Games</h1>
    <h4 style="font-weight:bolder;">Venha fazer parte da melhor comunidade de compra, venda e aluguel de Jogos!!</h4>
</div>
