@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Adicionar Jogo";
}

<h2>Adicionar Jogo</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarJogo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Console" class="control-label"></label>
                <input asp-for="Console" class="form-control" />
                <span asp-validation-for="Console" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NegociacaoJogo" class="control-label"></label>
                <select asp-for="NegociacaoJogo" class="form-control" asp-items="Html.GetEnumSelectList<NegociacaoJogo>()"></select>
                <span asp-validation-for="NegociacaoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicaoJogo" class="control-label"></label>
                <select asp-for="CondicaoJogo" class="form-control" asp-items="Html.GetEnumSelectList<CondicaoJogo>()"></select>
                <span asp-validation-for="CondicaoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input id="Valor" name="Valor" required class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@User.Identity.Name" id="Vendedor" name="Vendedor" required class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="" id="Comprador" name="Comprador" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="" id="Aviso" name="Aviso" required class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar Jogo" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
