@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Adicionar Jogo";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<div style="width:420px">
    <h1 style="font-size:30px">Adicionar Jogo</h1>
    <div class="row">
        <div class="col-md-4" style="width:100%">
            <form asp-action="AdicionarJogo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Nome" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input asp-for="Nome" class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Console" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input asp-for="Console" class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Console" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="NegociacaoJogo" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <select asp-for="NegociacaoJogo" class="form-control" asp-items="Html.GetEnumSelectList<NegociacaoJogo>()" style="font-size:14px"></select>
                    <span asp-validation-for="NegociacaoJogo" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="CondicaoJogo" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <select asp-for="CondicaoJogo" class="form-control" asp-items="Html.GetEnumSelectList<CondicaoJogo>()" style="font-size:14px"></select>
                    <span asp-validation-for="CondicaoJogo" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Valor" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input id="Valor" name="Valor" required class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <input type="hidden" value="@User.Identity.Name" id="Vendedor" name="Vendedor" required class="form-control" style="font-size:14px" />
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Email" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input asp-for="Email" class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Status" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()" style="font-size:14px"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <input type="hidden" value="" id="Comprador" name="Comprador" required class="form-control" style="font-size:14px" />
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <input type="hidden" value="" id="Aviso" name="Aviso" required class="form-control" style="font-size:14px" />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Adicionar Jogo" class="btn btn-success" style="font-size:14px" />
                    <a asp-action="Index" class="btn btn-danger" style="font-size:14px">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
