@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Deletar Jogo";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Deletar Jogo</h1>

<h2 style="font-size:20px">Tem certeza que deseja deletar esse Jogo?</h2>

<form asp-action="DeletarJogo" style="margin-top:20px">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Deletar Jogo" class="btn btn-danger" style="font-size:14px" />
    <a asp-action="DetalhesJogo" asp-route-id="@Model.Id" class="btn btn-primary" style="font-size:14px">Voltar</a>
</form>