@model troca_games.Models.Usuario

@{
    ViewData["Title"] = "Editar Conta";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<div style="width:420px">
    <h1 style="font-size:30px">Editar Conta</h1>
    <div class="row">
        <div class="col-md-4" style="width:100%">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Nome" class="control-label" style="margin-left:4px; font-size:14px">Usuário</label>
                    <input asp-for="Nome" class="form-control" style="font-size:14px" readonly />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div style="margin-bottom:8px; font-size:12px; text-align:justify; border:1px solid; border-color:gray; background-color:rgb(252, 245, 95); padding:10px 20px">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>O nome de Usuário não pode ser modificado!
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Email" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input asp-for="Email" class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <label asp-for="Senha" class="control-label" style="margin-left:4px; font-size:14px"></label>
                    <input asp-for="Senha" class="form-control" style="font-size:14px" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:8px">
                    <input type="hidden" value="@Model.Perfil" id="Perfil" name="Perfil" required class="form-control" style="font-size:14px" />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-success" style="font-size:14px" />
                    <a asp-action="Index" class="btn btn-danger" style="font-size:14px">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
